.app {
  padding: 1rem;
  display: flex;
  justify-content: center;

  .content-container {
    width: 600px; 
    .search-bar {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    .end-of-list {
      text-align: center;
      padding: 1rem;
    }
  }
}
